.right-aligned-text {
  text-align: end;
}

.bold-text{
    font-weight: bold;
}

.primary_color{
    color: #c64d2c;
}

.white_color{
    color: #f6f2ef;
}

.centered-text{
    text-align: center;
}

.flexed {
  display: flex;
}

.direction_row {
  flex-direction: row;
}

.direction_column {
  flex-direction: column;
}

.center_horizontal {
  justify-content: center;
}

.center_vertical {
  align-items: center;
}

.zero_margin {
  margin: 0;
}

.four_grid {
  flex: 0 0 25%;
}

.two_grid {
  flex: 0 0 50%;
}

.content_container {
  padding: 10px;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.card_grid {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}
